$clr-primary: rgb(54, 112, 199);
$clr-light: rgb(244, 244, 244);
$clr-dark: rgb(51, 51, 51);
$clr-warning: rgb(99, 36, 36);

$clr-dark-opa: rgba(51, 51, 51, .4);
*,
*::before,
*::after {
	font-family: inherit;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
	background-color: $clr-primary;
	color: $clr-light;

	display: grid;
	grid: 'header header header header' auto '.... lists active ....' auto / 1fr minmax(100px, 300px)
		minmax(250px, 500px) 1fr;
	.title {
		grid-area: header;
		display: flex;
		justify-content: flex-end;
		letter-spacing: 1em;
		color: $clr-dark-opa;
	}
	.all-tasks {
		grid-area: lists;
	}
	.todo-list {
		grid-area: active;
	}
}
